<style>
/* Main heading */
h1 {
  color:Glaucous;
  text-align: center;
  font-family:verdana;
}
 
/* div1 */
.div1 {
  border: 2px outset lightblue;
  background-color: gray;
  font-family:verdana;
}
/* div3 */
.div2 {
  border: 2px outset gray;
  background-color: lightgray;
  text-align: center;
  font-family:verdana;
}
/* paragraph styling */
p {
  color: white;
  text-align: center;
}
 
</style>
 
<h1>Editing Project</h1>
 
<div class="div2">
<br>
<%= render "form", project: @project %>
 
<br><br>
 
 
<%= link_to "Show this project", @project %> |
<%= link_to "Back to projects", projects_path %>
<br><br>
 
 
</div2>
